<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('Tambah Penerbangan')"></nav>
    <br><br><br><br><br><br><br><br><br><br>

    <h2 class ="text-center" th:text="'Penerbangan dengan nomor penerbangan ' + ${penerbangan.nomor_penerbangan} + ' berhasil ditambahkan!'"></h2>
    <br>

    <div class="text-center">
        <a class="btn btn-primary" th:href="@{/penerbangan}">Daftar Penerbangan</a>
    </div>
</body>
</html>
