<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaaf.org">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include = "fragments/fragment :: css" th:remove="tag"></object>
    <object th:include = "fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="text-center">
    <br><br><br><br><br><br><br>
    <div class="card align-content-center col-sm-6 offset-3 bg-primary" style="background-color: #0069d9">
        <br><br>
    <h1 style="color: #ffffff">Selamat Datang di SIPESAWAT!</h1>
        <br><br>
    </div>
    <br>
    <h3>Daftar Fitur:</h3>
    <br>
    <a class="btn btn-primary" th:href="@{/pesawat}">Pesawat</a>
    <a class="btn btn-primary" th:href="@{/penerbangan}">Penerbangan</a>
    <a class="btn btn-primary" th:href="@{/pesawat/pesawat-tua}">Cari</a>
    <a class="btn btn-primary" th:href="@{/pesawat/filter-pesawat}">Filter</a>
</div>
</div>
</body>
</html>
