<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Tambah Penerbangan')"></nav>
    <br>
    <h2 class="text-center">Detail Pesawat</h2>
    <div class="card m-3 p-3">
    <table class="table">
        <thead>
            <tr>
                <th>Nomor Seri</th>
                <th>Jenis Pesawat</th>
                <th>Nama Tipe</th>
                <th>Maskapai</th>
                <th>Tanggal Dibuat</th>
                <th>Tempat Dibuat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${pesawat.nomor_seri}"></td>
                <td th:text="${pesawat.jenis_pesawat}"></td>
                <td th:text="${nama_tipe}"></td>
                <td th:text="${pesawat.maskapai}"></td>
                <td th:text="${pesawat.tanggal_dibuat}"></td>
                <td th:text="${pesawat.tempat_dibuat}"></td>
            </tr>
        </tbody>
    </table>
    </div>

    <h6 class="text-center">Daftar Teknisi Pesawat</h6>
    <div class="card m-3 p-3">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>No Telp</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teknisi, iterationStatus: ${listTeknisi}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${teknisi.nama}"></td>
                    <td th:text="${teknisi.nomor_telepon}"></td>
                </tr>
            </tbody>        
    </table>
    </div>

        <div>
            <form th:action="@{/pesawat/}+${pesawat.id}+@{/tambah-penerbangan}" th:object="${pesawat}" method="POST">
                Tambah Penerbangan : <br>
                <table>
                    <tr th:each="penerbangan, iterationStatus : *{listPenerbangan}">
                        <td>
                            <select th:field="*{listPenerbangan[__${iterationStatus.index}__].id}" class="form-control">
                                <option value="0"> -- </option>
                                <option th:each="p : ${listPenerbangan2}"
                                        th:value="${p.id}"
                                        th:utext="${p.nomor_penerbangan}"></option>
                            </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

        <div class="card m-3 p-3">
        <h6 class="text-center">Daftar Penerbangan</h6>
        <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nomor Penerbangan</th>
                <th>Bandara Asal</th>
                <th>Bandara Tujuan</th>
                <th>Waktu Berangkat</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="penerbangan, iterationStatus: ${listPenerbangan}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${penerbangan.nomor_penerbangan}"></td>
                <td th:text="${penerbangan.kode_bandara_asal}"></td>
                <td th:text="${penerbangan.kode_bandara_tujuan}"></td>
                <td th:text="${penerbangan.waktu_berangkat}"></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>