<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Detail Pesawat')"></nav>
<br><br>
<h2 class="text-center">Detail Pesawat</h2>
<div class="card col-sm-4 offset-lg-4 shadow p-3 mb-5 bg-white rounded" style="align-content: center">
    <br>
<div class="container">
    <div class="row">
        <div class="col">
            <p>No Seri</p>
            <p>Jenis Pesawat</p>
            <p>Nama Tipe</p>
            <p>Maskapai</p>
            <p>Tempat Dibuat</p>
            <p>Tanggal Dibuat</p>
        </div>
        <div class="col">
            <p th:text="${pesawat.nomor_seri}"></p>
            <p th:text="${pesawat.jenis_pesawat}"></p>
            <p th:text="${pesawat.tipe.nama}"></p>
            <p th:text="${pesawat.maskapai}"></p>
            <p th:text="${pesawat.tempat_dibuat}"></p>
            <p th:text="${pesawat.tanggal_dibuat}"></p>
        </div>
    </div>
</div>
</div>
</div>

<h5 class="text-center">Daftar Teknisi Pesawat</h5>
<div class="card col-sm-4 offset-lg-4 p-4 shadow p-3 mb-5 bg-white rounded" style="align-content: center">
<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Nomor Telepon</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teknisi, iterationStatus: ${listTeknisi}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${teknisi.nama}"></td>
        <td th:text="${teknisi.nomor_telepon}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>