<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Detail Penerbangan')"></nav>
<br><br>
<div class="card col-sm-4 offset-lg-4 shadow p-3 mb-5 bg-white rounded" style="align-content: center">
    <h2 class="text-center">Detail Penerbangan</h2>
    <br>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Kode Penerbangan</p>
            <p>Kode Bandara Asal</p>
            <p>Kode Bandara Tujuan</p>
            <p>Waktu Berangkat</p>
            <p>Nomor Seri Pesawat</p>
        </div>
        <div class="col">
            <p th:text="${penerbangan.nomor_penerbangan}"></p>
            <p th:text="${penerbangan.kode_bandara_asal}"></p>
            <p th:text="${penerbangan.kode_bandara_tujuan}"></p>
            <p th:text="${penerbangan.waktu_berangkat}"></p>
            <div th:if="${hasPesawat}">
                <p th:text="${penerbangan.pesawat.nomor_seri}"></p>
            </div>
            <div th:unless="${hasPesawat}">
                <p th:text="'Belum diassign pesawat'"></p>
            </div>
            </div>
            </div>
    </div>
</div>
</div>
</body>
</html>